<td>
  <%= link_to_download attachment, text: image_tag(thumbnail_path_for(attachment, "48px"), class: "thumbnail") %>
</td>
<td style="text" class=<%= cycle('odd', 'even') %>>
  <h3 class="filename"><%= attachment.filename %></h3>
  <div style="clear:left">
    <%= link_to_container_for attachment %>.
    <%= link_to_download attachment, { text: t('button_download') } %>
  </div>
</td>
