<%= content_for :header_tags do %>
  <%= stylesheet_link_tag 'redmine_all_files', :plugin => 'redmine_all_files' %>
<% end %>

<h2><%= params[:project_id].present? ? t('all_project_files') : t('project_module_all_files')  %></h2>

<% attachments_per_years = group_by @attachments, Proc.new { |attachment| attachment.created_on.to_datetime.to_date.year }, Proc.new { |attachment| attachment.created_on.to_datetime.to_date } %>
<% attachments_per_years = attachments_per_years.sort.reverse %> <!-- sort by years -->
<table class="attachments">
  <% attachments_per_years.each do |year, attachments_per_year| %>
    <tr>
      <td colspan="3" class="year"> <%= year %> </td>
    </tr>
    <% attachments_per_year = attachments_per_year.sort.reverse %> <!-- sort by dates into year -->
    <% attachments_per_year.each do |date, attachments_per_date| %>
      <tr>
        <td colspan="3"><hr></td>
      </tr>
      <tr>
        <td rowspan="<%= attachments_per_date.count %>" class="date">
          <%= ::I18n.l(date, :format => :month_day) %>
        </td>
        <%= render 'attachment', :attachment => attachments_per_date[0] %>
      </tr>
      <% attachments_per_date[1..-1].each do |attachment| %>
        <tr>
          <%= render 'attachment', :attachment => attachment %>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>

<%= content_for :sidebar do %>
  <%= render 'search' %>
<% end %>

<p class="pagination"><%= pagination_links_full @attachments_pages, @attachments_count %></p>
